#
# MANIFEST.in
#
# Manifest template for creating the Distutils source distribution.
#

# Comment out the "recursive-include docs" entry if you don't want
# to install the documentation.
recursive-include docs *
recursive-include imdb/locale *
global-exclude *~
prune CVS
prune .svn
prune .hg
global-exclude CVS
global-exclude .svn

# Try to force the inclusion of ez_setup.py.
include ez_setup.py

# Uncomment the following line if you don't want to install the logo images.
# exclude docs/*.png docs/*.xpm docs/*.bmp


