#
# MANIFEST.in
#
# Manifest template for creating the Distutils source distribution.
#

include tox.ini CHANGELOG.txt CONTRIBUTORS.txt CREDITS.txt DISCLAIMER.txt LICENSE.txt
recursive-include imdb/locale *
recursive-include tests *
prune tests/__pycache__
prune tests/.cache
prune imdb/locale/__pycache__
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude .tox
global-exclude .cache
global-exclude *~
